<%= render 'shared/header' %>
<div class='container'>
  <div class='main-container'>
    <div class='side-menu'>
      <p class='menu-title'>メニュー</p>
      <%= link_to '新規依頼', '#', class: 'menu-content' %>
      <%= link_to '修理中', '#', class: 'menu-content' %>
      <%= link_to '機械一覧', '#', class: 'menu-content' %>
      <%= link_to '最近のログ', '#', class: 'menu-content' %>
      <%= link_to '新規機械登録', '#', class: 'menu-content' %>
    </div>
    <div class='main-contents'>
    </div>
  </div>
</div>
